# IDE
.idea/

# mac
.DS_Store

# jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

#python
*__pycache__*
*egg-info/
dist/
build/

# downloaded pcb data
data/pcb_data.tar.gz
data/pcb_data/

# result
results/pcb_data/song_data/

# test data
tests/data-for-tests/source/source-test-data.tar.gz
tests/data-for-tests/source/song_data/
tests/data-for-tests/generated/generated-test-data.tar.gz
tests/data-for-tests/generated/*.csv
tests/data-for-tests/generated/*.txt
tests/data-for-tests/generated/*.npy
tests/data-for-tests/generated/song_data/