name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: excitedleigh/setup-nox@v2.1.0
      - name: download test data
        run: |
          nox -s test-data-download-source
          nox -s test-data-download-generated
      - name: run tests
        run: |
          pip install nox
          pip install '.[tests]'
          nox --session coverage
      - name: upload coverage to Codecov
        uses: codecov/codecov-action@v3
